.cart {
    margin: 24px;

    .cart__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 24px;
        align-items: center;
        margin-bottom: 24px;
    }

    .total {
        padding: 24px 0;
        & div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 40px;
            font-size: 24px;

            & p {
                font-weight: 700;
            }

            &:last-child span {
                font-weight: 700;
                color: #333652;
            }
        }
    }
    
}
